.item {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
    text-decoration: none;
}

.img {
    width: 30px;
    height: 30px;
}

.div:hover{
    -webkit-text-stroke: 2px white;
}

